.title {
    -webkit-tap-highlight-color: transparent;
    background-position: 0 0;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
    min-width: 64px;
    outline: 0;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: baseline;
    white-space: nowrap;
}

.docs-navbar-header {
    align-items: center;
    background-color: #3f51b5;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 16px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    position: fixed;
    z-index: 2;
}