<div class="docs-header-section">
    <h1 class="mat-h1">Cognitive Angular</h1>
    <h2>Microsoft Cognitive for Angular</h2>
    <button mat-raised-button>Start</button>
</div>

<!-- <div class="center">
    <div class="docs-homepage-promo-desc">
        <h2>hello</h2>
    </div>
    <div class="docs-homepage-promo-desc">
        <h2>hello</h2>
    </div>
</div> -->

<div class="container center ">
    <div class="row">
        <div class="col-xs-12
            col-sm-12
            col-md-6
            col-lg-6 ">
            <img src="../.././../assets/3.png" style="padding-left:0;float:right">
        </div>
        <div class="col-xs-12
        col-sm-12
        col-md-6
        col-lg-6 d">
            <h1>Vision</h1>
            <p>Image-processing algorithms to smartly identify, caption and moderate your pictures.</p>
        </div>

    </div>
</div>
<div class="container center ">
    <div class="row">
        <div class="col-xs-12
            col-sm-12
            col-md-6
            col-lg-6 ">
            <img src="../.././../assets/4.png" style="padding-left:0;float:right">
        </div>
        <div class="col-xs-12
            col-sm-12
            col-md-6
            col-lg-6 d">
            <h1>Language</h1>
            <p>Allow your apps to process natural language with pre-built scripts, evaluate sentiment and learn how to recognize what users want..</p>
        </div>

    </div>
</div>

<div class="container center ">
    <div class="row">


        <div class="col-xs-12
                col-sm-12
                col-md-6
                col-lg-6 ">
            <img src="../.././../assets/5.png" style="padding-left:0;float:right">
        </div>
        <div class="col-xs-12
            col-sm-12
            col-md-6
            col-lg-6 d">
            <h1>
                Speech
            </h1>
            <p>Convert spoken audio into text, use voice for verification, or add speaker recognition to your app.</p>
        </div>

    </div>
</div>